extend layout
block content
  p
    | Project group 13 for CPSC 410
    | Project function: Code-analysis Visualizer
  p
    | Project group 13 members:
    | Brian Lui, Miki Gataric, Tommy Chien, Erik Bengtsson
block sidebar
  .widget
    h1 News/updates
    p
      | Overall project status:
      | 45% complete
    p
      | MVP deliverable status:
      | 70% complete