!!!5
html
  head
    title #{title} - Code Planet (Project Group 13)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 CPSC 410 Project Group 13 - Code Planet
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade, Stylus, Wrench, Walk and more...